<q-header back-url="/clients"></q-header>
<div class="row first">
    <div>
        <h2 ng-if="$ctrl.user != 'admin'">{{$ctrl.client.firstName + ' ' + $ctrl.client.lastName}}</h2>
        <div ng-if="$ctrl.user == 'admin'" class="block">
            <input title="firstName" class="block" ng-model="$ctrl.localClient.firstName">
            <input title="lastName" class="block" ng-model="$ctrl.localClient.lastName"> <i ng-if="$ctrl.descriptionHasChanged() || $ctrl.nameHasChanged()" ng-click="$ctrl.update()" class="material-icons save">save</i>
            <div class="events">
                <p class="description" ng-if="$ctrl.nameHasChanged()">
                    Locally updated
                    <i class="material-icons undo" ng-click="$ctrl.undoName()">undo</i>
                </p>
            </div>

        </div>
    </div>

</div>
<div id="client_detail" class="content">
    <div class="row info">
        <div class="block center profile-pic-container">
            <i class="material-icons">person</i>
            <div class="events">
                <p ng-if="$ctrl.updateActionsPerformed > 0 && !$ctrl.descriptionHasChanged()">Updated</p>
            </div>
        </div>
        <div class="block description">
            <h2>Description</h2>
            <p ng-if="$ctrl.user != 'admin'">
                {{$ctrl.client.description}}
            </p>
            <textarea ng-if="$ctrl.user == 'admin'" ng-model="$ctrl.localClient.description"></textarea>
            <p ng-if="$ctrl.descriptionHasChanged()">
                Locally updated
                <i class="material-icons undo" ng-click="$ctrl.undoDescription()">undo</i>
            </p>
        </div>
    </div>
</div>