body {
    font-family: 'Montserrat', sans-serif;
    min-width: 374px;
    max-width: 548px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    height: 40em;
    background-color: #FAFAFA;
}
.base-color {
    background-color: #607D8B;
}
.alt-color {
    color: #9E9E9E;
}
#application {
    position: relative;
}
header {
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 6em;
    text-align: center;
    color: white;
    position: absolute;
    padding-top: 2em;
    box-sizing: border-box;
    z-index: 99;
    width: 100%;
}
#backIcon {
    font-size: 3em;
    position: absolute;
    left: .5em;
    top: .5em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
#logoutIcon {
    font-size: .8em;
    position: absolute;
    right: 1.5em;
    top: 2.3em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
#logoutIcon i {
    font-size: 2em;
}
.list {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 4em;
}
.box-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.content {
    padding-top: 10em;
    padding-bottom: 8em;
    height: 22em;
}
.row {
    position: relative;
    width: 100%;
    min-height: 4em;
    padding: 1em;
    padding-top: 1.2em;
    box-sizing: border-box;
}
.row.first {
    background-color: #37474F;
    color: white;
    top:6em;
    padding: 1em;
    padding-top: 1.5em;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-bottom: 0;
}
.row .title {
    font-size: 1em;
    margin-bottom: .2em;
}
.row .description {
    font-size: 0.8em;
    color: #9E9E9E;
}
.row .client-icon {
    position: absolute;
    left: .5em;
}
.row .block {
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.block.first {
    padding-left: 3em;
}
.block.small {
    width: 25%;
}
.block.large {
    width: 75%;
}
.block.center {
    text-align: center;
}
.block.right {
    text-align: right;
}
.block.icon {
    font-size: 2em;
}
.block .arrow {
    cursor:pointer;
}
.client-icon {
    font-size: 2em;
    color: #9E9E9E;
}
footer {
    position: absolute;
    bottom:0;
    color: white;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
}


footer .row.small {
    width: 15em;
}
footer i {
    font-size: 1em !important;
    cursor: pointer;
    color: #9E9E9E;
}
footer .content {
    height: 0 !important;
    overflow: hidden;
}
footer .block {
    text-align: center;
}
footer input {
    height: 2em;
    font-size: 1em;
    box-sizing: border-box;
    padding-left: .5em;
    width: 98%;
}
.block.full {
    width: 100%;
}
.row.large-height {
    height: 14em;
}
.row.large-height i{
    font-size: 4em;
}
header .description {
    font-size: .7em;
}
#client_detail .info {
    height: 12em;
    padding-left: 0;
    padding-right: 2em;
}
#client_detail .info textarea{
    width: 100%;
    height: 7em;
    overflow:auto;
    font-size: 1.1em;
}
#client_detail .info textarea.changed{
    border: 10px solid green;
}
#client_detail .description {
    padding-top: 2.2em;
}
#client_detail .description h2 {
    color: black;
    font-size: 1.6em;
    margin-bottom: 0.2em;
}
#client_detail .profile-pic-container i{
    font-size: 10em;
    cursor: auto;
}
i {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.save {
    position: absolute;
    padding-left: .2em;
    margin-top: -.1em;
    cursor: pointer;
}
.undo {
    position: absolute;
    padding-left: .2em;
    margin-top: -.25em;
    cursor: pointer;
}
.events {
    margin-top: 1.5em;
}