<q-header back-url="/"></q-header>
<div class="row first">
    <h2>Login as</h2>
</div>
<div class="content">
    <div class="row large-height">
        <div class="block center icon" ng-click="$ctrl.login('EMPLOYEE')">
            <i class="material-icons">person</i>
            <p>Employee</p>
        </div>
        <div class="block center icon" ng-click="$ctrl.login('ADMIN')">
            <i class="material-icons">verified_user</i>
            <p>Admin</p>
        </div>
    </div>
</div>

<footer>
</footer>